/*** GLOBALES ***/
* {
    box-sizing: border-box;
    padding: 5px;
  }

body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    text-align: center
}





/*** CUERPO PAGINA - MOBILE FIRST ***/
#logo {
    width: 100px;
}

iframe {
    max-width: 100%;
}

.urban-basic {
    background-size: cover;
    background-image: url('../img/FondoParaTexto3.jpg');
}


.tint-basic {
    background-color: rgba(124, 124, 252, 0.75);
    background-blend-mode:soft-light;
}

.urban-principiante {
    background-size: cover;
    background-image: url('../img/FondoParaTexto3.jpg');
}

.urban-basic {
    background-size: cover;
    background-image: url('../img/FondoParaTexto3.jpg');
}
.inline-intermedio {
    background-size: cover;
    background-image: url('../img/galeria.jpg');
}

h1.clases {
    padding-top: 50px;
  }
.urban-basic p {
    color: white;
}


.inline {
    background-size: cover;
    background-image: url('../img/FondoParaTexto2.jpg');
}


.tint-inline {
    background-color: rgba(124, 124, 252, 0.75);
    background-blend-mode:soft-light;
    
}

.urban-basic h2 {
    text-align: center;
}

.urban-basic p {
    text-align: justify;
}

.inline h2 {
    text-align: center;
}

.inline p {
    text-align: justify;
}

.columna-urban {
    margin: 10px 0;
    border-radius: 10px;
    
}
.columna-inline{
    margin: 10px 0;
    border-radius: 10px;
    
}

/* Horarios -------------------------------------------------------------------------------------------*/ 



.container-horarios {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.columna {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 40%;
    background-color: #333;
}

.columna:hover {
    transform: translateY(-5px);
}

.columna h2 {
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 10px;
    color: white;
    font-size: 1.1em;
}

.columna ul li strong {
    display: inline-block;
    width: 130px;
    font-weight: bold;
}

/* PROFES -------------------------------------------------------------------------------------------*/ 

.cardProfes-h1 {
    text-align: center;
}

.cardProfes-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.cardProfes {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.cardProfes .cardProfes-image {
    width: 400px; 
    height: 350px; 
    border: 5px double pink;
    border-radius: 50%;
    object-fit: cover;
}

.cardProfes .cardProfes-title {
    padding: 20px 10px;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
    margin-top: 10px; 
}

.cardProfes .cardProfes-text {
    text-align: center; 
}


.cardProfes:hover {
    background-color: #333;
}




/*** CUERPO PAGINA - TABLETS ***/

@media (min-width: 400px) {
/*quise tirar magia pero no salio*/
    #logo:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
/* el titulo adentro de las tarjeta me quedo raro.*/
    .contenedor-clases {
        display: flex;       
    }
    .urban-basic {
        background-position: center;     
    }
    .urban-basic p {
        padding: 40px;
    }
    .inline {
        background-position: center;
    }
    .inline p {
        padding: 40px;
    }

    .columna-urban {
        margin: 0 10px;
    }
    .columna-inline{
        margin: 0 10px;
        
    }
}

/* Mapas -------------------------------------------------------------------------------------- */

  
.containerMaps {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    background-color: #222;
    padding: 20px;
}

.mapa {
    flex-basis: calc(50% - 20px); /* El 20px es para tener en cuenta el margen */
    margin-bottom: 20px; /* Espacio entre los mapas */
    overflow: hidden; /* Para que el efecto de cambio de color no se vea fuera del contenedor */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.mapa:nth-child(odd) {
    margin-right: 20px; /* Espacio entre los mapas */
}

.mapa:hover {
    background-color: #444; /* Color de fondo al pasar el ratón sobre el mapa */
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.mapa h2 {
    text-align: center;
    color: white;
}




.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #333;
    color: #fff;
}

.card-title {
    
    color: #fff;
    padding: 10px 0;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.list-group-item {
    padding: 15px;
    border-bottom: 1px solid #666;
}

.list-group-item:last-child {
    border-bottom: none;
}

@media (max-width: 767px) {
    .col-md-6 {
        width: 100%;
    }
}


/*Form*/ 

section {
    padding: 50px 0;
    text-align: center;
}

section h1 {
    margin-bottom: 30px;
}

.consulta-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #666;
}


/* Estilos para el header y la barra de navegación */

/* Cambia el color de fondo del header y la barra de navegación */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding-top: 20px; /* Agrega espacio encima del header */
    
}

/* Estilo para el logo */
#logo {
    width: 100px;
    height: auto;
}

/* Estilos para los enlaces de la barra de navegación */
.navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
}

/* Cambia el color de los enlaces al pasar el ratón sobre ellos */
.navbar-nav .nav-link:hover {
    color: #333;
}

/* Estilo para la imagen de portada */
.imgPortada {
    width: 100%;
    height: 750px;
    display: block;
    margin-top: 20px;
}

/* Ajusta el espacio entre elementos de navegación */
.navbar-nav .nav-item {
    margin-left: 10px;
}

/* Ajusta el espacio a la derecha de los elementos de navegación */
.navbar-nav {
    margin-right: -15px;
}

/* Estilo para el botón de menú desplegable */
.navbar-toggler-icon {
    background-color: #333;
}

/* Estilo para los enlaces activos en la barra de navegación */
.navbar-nav .nav-link.active {
    color: #007bff;
    font-weight: bold;
}