/*** GLOBALES ***/
* {
    padding: 5px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*** CUERPO PAGINA - MOBILE FIRST ***/
#logo {
    width: 100px;
}
iframe {
    max-width: 100%;
}


/*** CUERPO PAGINA - TABLETS ***/
@media (min-width: 400px) { 
    .containerMaps {
       display: flex;
       display: wrap;
       background-color: yellow;
    }

    .mapa1{
        background-color: green;
        width: 50%;
    }

    .mapa2 {
        background-color: green;
        width: 50%;
    }
   


}