/*** GLOBALES ***/
* {
    box-sizing: border-box;
    padding: 5px;
  }

body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    text-align: center
}





/*** CUERPO PAGINA - MOBILE FIRST ***/
#logo {
    width: 100px;
}

iframe {
    max-width: 100%;
}

.urban-basic {
    background-size: cover;
    background-image: url('../img/FondoParaTexto3.jpg');
}


.tint-basic {
    background-color: rgba(124, 124, 252, 0.75);
    background-blend-mode:soft-light;
}

.urban-basic p {
    color: white;
}


.inline {
    background-size: cover;
    background-image: url('../img/FondoParaTexto2.jpg');
}


.tint-inline {
    background-color: rgba(124, 124, 252, 0.75);
    background-blend-mode:soft-light;
    
}

.urban-basic h2 {
    text-align: center;
}

.urban-basic p {
    text-align: justify;
}

.inline h2 {
    text-align: center;
}

.inline p {
    text-align: justify;
}

.columna-urban {
    margin: 10px 0;
    border-radius: 10px;
    
}
.columna-inline{
    margin: 10px 0;
    border-radius: 10px;
    
}

.container-horarios {
    display: grid;
    grid-template-columns: 1fr 1fr ;   

}

.container-horarios h2 {
    text-align: center;
}

.container-horarios ul {
    list-style:none;
}

.container-horarios ul {
    text-align: left;
}


/* PROFES */
/*
.container-Profes {
    

}*/

/* .card-Paula {
    border: 1px solid  white;
    margin: 10px 0;
    text-align: center;
   
}
.circle-Paula{
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    width: 50%;
    height: 150px;
}

.card-Ivo {
    border: 1px solid  white;
    margin: 10px 0;
    text-align: center;
}
.circle-Ivo{
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    width: 50%;
    height: 150px;
} */



/*** CUERPO PAGINA - TABLETS ***/

@media (min-width: 400px) {
/*quise tirar magia pero no salio*/
    #logo:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
/* el titulo adentro de las tarjeta me quedo raro.*/
    .contenedor-clases {
        display: flex;       
    }
    .urban-basic {
        background-position: center;     
    }
    .urban-basic p {
        padding: 40px;
    }
    .inline {
        background-position: center;
    }
    .inline p {
        padding: 40px;
    }

    .columna-urban {
        margin: 0 10px;
    }
    .columna-inline{
        margin: 0 10px;
        
    }

/* Hay otra forma de hacerlo ? */
    .container-horarios li {
        margin-left: 150px;
    }
  
    .containerMaps {
        
        display: flex;
        display: wrap;
        background-color: #222;
    }

    .mapa1 {
        background-color: #333;
        width: 50%;
    }

    .mapa2 {
        background-color: #333;
        width: 50%;
    }

    /* .container-Profes {
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    /* .circle-Paula{
        background-size: cover;
        border-radius: 50%;
        margin: auto;
        width: 100%;
        height: 300px;
    }

    .circle-Ivo{
        background-size: cover;
        border-radius: 50%;
        margin: auto;
        width: 100%;
        height: 300px;
    } */
    
   

}

.container-profesores {
    padding: 50px 0;
    text-align: center;
}

.container-profesores h1 {
    margin-bottom: 30px;
}

.card-body {
   
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 8px 8px 0 0;
    width: 100%; /* Establece un ancho del 100% */
    height: 800px; /* Establece una altura fija */
    object-fit: cover; /* Para mantener la proporción de la imagen */
    
}

.card-img-top:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}
.card-title {
    color: #007bff;
    margin-top: 10px;
}

.card-text {
    color: #333;
}

@media (max-width: 767px) {
    .col-md-6 {
        width: 100%;
    }
}

.container-horarios {
    padding: 50px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.container-horarios h1 {
    margin-bottom: 30px;
    color: #fff;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #333;
    color: #fff;
}

.card-title {
    
    color: #fff;
    padding: 10px 0;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.list-group-item {
    padding: 15px;
    border-bottom: 1px solid #666;
}

.list-group-item:last-child {
    border-bottom: none;
}

@media (max-width: 767px) {
    .col-md-6 {
        width: 100%;
    }
}


/*Form*/ 


section {
    padding: 50px 0;
    text-align: center;
}

section h1 {
    margin-bottom: 30px;
}

.consulta-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #666;
}


/* Estilos para el header y la barra de navegación */

/* Cambia el color de fondo del header y la barra de navegación */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding-top: 20px; /* Agrega espacio encima del header */
    
}

/* Estilo para el logo */
#logo {
    width: 100px;
    height: auto;
}

/* Estilos para los enlaces de la barra de navegación */
.navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
}

/* Cambia el color de los enlaces al pasar el ratón sobre ellos */
.navbar-nav .nav-link:hover {
    color: #333;
}

/* Estilo para la imagen de portada */
.imgPortada {
    width: 100%;
    height: 750px;
    display: block;
    margin-top: 20px;
}

/* Ajusta el espacio entre elementos de navegación */
.navbar-nav .nav-item {
    margin-left: 10px;
}

/* Ajusta el espacio a la derecha de los elementos de navegación */
.navbar-nav {
    margin-right: -15px;
}

/* Estilo para el botón de menú desplegable */
.navbar-toggler-icon {
    background-color: #333;
}

/* Estilo para los enlaces activos en la barra de navegación */
.navbar-nav .nav-link.active {
    color: #007bff;
    font-weight: bold;
}